<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>Noise Gate</string>
			<key>factoryFunction</key>
			<string>NoiseGateAUFactory</string>
			<key>manufacturer</key>
			<string>US</string>
			<key>name</key>
			<string>Ultraschall: Noise Gate</string>
			<key>subtype</key>
			<string>Nois</string>
			<key>type</key>
			<string>aufx</string>
			<key>version</key>
			<integer>65536</integer>
		</dict>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>15F34</string>
	<key>CFBundleDisplayName</key>
	<string>NoiseGate</string>
	<key>CFBundleExecutable</key>
	<string>NoiseGate</string>
	<key>CFBundleIdentifier</key>
	<string>com.roli.NoiseGate</string>
	<key>CFBundleName</key>
	<string>NoiseGate</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6C131e</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14A383</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0620</string>
	<key>DTXcodeBuild</key>
	<string>6C131e</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Ultraschall</string>
</dict>
</plist>
